#where {

    .aside-blurb {
        padding-top: 4rem;

        color: #ccc;
        font-size: 2rem;
        line-height: 2rem;
        text-align: center;

        * {
            display: block;
        }
        img {
            margin-top: 2rem;
            height: 7rem;
            width: auto;
            display: inline-block;
        }
    }
}
