@import '../../style/mixins';

#where {
    .aside-blurb {
        padding-top: 4rem;

        color: #ccc;
        font-size: 2rem;
        line-height: 2rem;
        text-align: center;

        * {
            display: block;
        }
        i {
            font-size: 7rem;
            margin-bottom: 1rem;
        }
    }
}
