@use '../../style/mixins' as mixins;
@use '../../style/palette' as palette;

#where {
    #location.aside-blurb {
        @include mixins.theme-transition(color);
        color: palette.base-color(c);
        font-size: 2rem;
        line-height: 2rem;
        text-align: center;
        height: 12rem;

        * {
            display: block;
        }

        i {
            font-size: 7rem;
            margin-bottom: 1rem;
        }
    }
}
