@use "sass:math";
@import '../../style/constants';

$navHeight: 5.5rem;

@mixin naved-container($scale){

    $scaledNavHeight: $navHeight * $scale;

    padding-top: $scaledNavHeight !important;
    margin-top: -$scaledNavHeight !important;

    &:after {
        top: $scaledNavHeight !important;
    }
}

// Overrides for nav to work
#main {
    height: calc(100vh - $navHeight) !important;
}
.container {
    @include naved-container(1);
}

// ------------------------------------------
// Navigation
// ------------------------------------------
body {
    position: relative;
}
body>a#home {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    height: $navHeight;
    padding: 0;
    padding-top: math.div($navHeight - 4rem, 2);
    padding-left: math.div($navHeight - 4rem, 2);
    box-sizing: border-box;
    z-index: 11;
    pointer-events: all;

    *, &:before {
        pointer-events: none;
    }
    h1, i {
        margin: 0;
        vertical-align: middle;
        display: inline-block;
    }
    i {
        font-size: 4rem;
    }
    &:focus,
    &:hover {
        box-shadow: none !important;
        background: none !important;
        h1, i {
            text-shadow: 0px 0px 5px #555 !important;
        }
    }
}

a#home, nav a {
    text-decoration : none !important;
    &:focus,
    &:hover {
        color: #fff !important;
    }
}

nav {
    max-width: 1400px;
    margin: auto;
    &.mdi:after{
        display: none;
    }
}

body.js-enabled {

    >a#home {
        color: #444;
        transition: color 0.3s;
    }
    >a#home:before {
        opacity: 0;
        transition: opacity 0.3s;
    }
    nav.open,
    nav:focus-within {
        &+a#home {
            color: #ccc;
            &:before {
                opacity: 1;
            }
        }
    }
    &.nav-complete {
        a#home {
            color: #ccc;
            &:before {
                opacity: 1;
            }
        }
    }
}
@mixin frosted {
    background: #222b;
    backdrop-filter: blur(25px);
}

body>a#home:before {
    content: '';
    display: block;
    position: fixed;
    z-index: -1;
    top: 0;
    width: 100vw;
    left: -100vw;
    right: -100vw;
    margin: auto;
    height: $navHeight;
    @include frosted;
    box-shadow: 0px 0px 30px black;
    box-sizing: border-box;
}

nav {
    position: sticky;
    overflow: visible;
    right: 0;
    top: 0;

    padding: 1.35rem 1.25rem;
    z-index: 12;

    text-align: right;
    font-weight: 800;
    display: table;
    margin-right: 0;
    pointer-events: all;

    li:first-child {
        display: none;
    }

    >div {
        position: relative;
        overflow: hidden;
    }
    ul {
        margin-block-start: unset;
        margin-block-end: unset;
        margin-inline-start: unset;
        margin-inline-end: unset;
        padding-inline-start: unset;
        list-style-type: none;
    }
    li {
        font-size: 0;
        display: inline-block;
        &:not(:last-child):after {
            display: inline-block;
            content: '|';
            font-size: 1.25rem;
        }
        &:after {
            color: #aaa !important;
            text-shadow: none !important;
        }
    }

    a {
        font-size: 1.25rem;
        color: #aaa !important;
        box-shadow: none !important;
        padding: 0.75rem 0.75rem;

        transition: color 0.2s ease-in;

        &:focus,
        &:hover {
            background: rgba(255,255,255,0);
            animation-name: abberation-nav !important;
        }
    }
}
@mixin menu-container-mobile {
    top: $navHeight * 0.75;
    max-height: calc(90vh - 4.125rem);
    text-align: left;
    height: 0rem;
    &.open,
    &:focus-within {
        height: 35rem;
    }
    ul#nav-links {
        min-width: calc(100vw - 8.25rem);
        margin-left: 1rem;
        li:not(:last-child):before {
            right: -2.5rem;
        }
        li:after {
            right: -3.125rem;
        }
    }
    li {
        display: list-item;
    }
    li:first-child {
        display: inline-block;
    }

    &.mdi:after {
        height: $navHeight *0.75;
        padding: 0.65rem 1.5rem 0;
    }
}

@mixin menu-container-desktop {
    text-align: center;
    transition: height 0.3s ease;
    overflow: hidden;
    height: 0rem;

    a {
        font-size: 1.75rem;
    }

    &.open,
    &:focus-within {
        height: 25rem;
    }

    display: block;
    position: fixed;
    top: $navHeight;
    right: 0;
    left: 0;
    bottom: unset;
    text-align: right;

    >div {
        padding-top: 3rem;
    }

    &.mdi:after {
        height: $navHeight;
        padding: 0.75rem 1.5rem 0rem;
        font-size: 4rem;
        color: white;
        display: block;
        position: fixed;
        box-sizing: border-box;
        top: 0;
        right: 0;
        left: unset;
        bottom: unset;
        opacity: 1 !important;
        pointer-events: auto !important;
    }

    &:before {
        content: '';
        opacity: 1;
        position: absolute;
        z-index: 30;
        top: 0;
        left: 0rem;
        right: 0rem;
        bottom: 0;
        background: linear-gradient(180deg, #111 0px, #181818 5px, #222b 20px, #222b 100%);
        backdrop-filter: blur(25px);
        box-shadow: 0px 5px 15px #110000;

        z-index: -1;
    }
    pointer-events: all;
    &.open,
    &:focus,
    &:focus-within {
        &.mdi:after {
            background: black;
            filter: invert(1);
        }
        ul {
            opacity: 1;
            transform: translateY(0%);
            transition: transform 0.4s ease-out, opacity 0.7s ease-out;
        }
    }
    div {
        height: 16.5rem;
        width: 100%;
    }
    #social-links {
        display: block;
    }
    ul {
        position: absolute;
        bottom: 0;
        right: 0;
        min-width: 33%;
        display: inline-block;
        text-align: left;
        border: 1px solid #333;
        border-top: 0px;
        border-right: 0px;
        border-bottom: 0px;
        opacity: 0;
        transform: translateY(-175%);
        transition: transform 0.2s ease-in, opacity 0.3s ease-in;
    }
    li {
        min-width: 16rem;
        display: block;
        &:not(:first-child):before {
            content: none;
        }
    }
    ul#nav-links {
        margin-right: 30px;
        margin-left: 30px;
        text-align: right;
        direction: rtl;
        margin-right: 6rem;
        vertical-align: bottom;
        position: relative;

        a {
            display: inline-block;
        }

        li {
            position: relative;
            display: list-item;
            vertical-align: bottom;
            font-size: 2rem;
            line-height: 2rem;
            &:after,
            &:not(:last-child):before {
                content: '';
                display: block;
                position: absolute;
            }

            &:after {
                height: 1rem;
                width: 1rem;
                top: 0;
                right: -4.25rem;
                bottom: 0;
                margin: auto;
                border-radius: 50%;
                border: solid 2px #aaa;
            }
            &:not(:last-child):before {
                width: 2px;
                background: #aaa;
                right: -3.67rem;
                top: 2.5rem;
                bottom: -1.25rem;
            }

            &::marker {
                display: inline-block;
                padding: 0.5em 0.5em;
                margin-top: 0.5em;
                vertical-align: bottom;
                font-size: 2rem;
                line-height: 2rem;
                margin: 0;
            }
        }
    }
    ul#social-links {
        display: block;
        right: unset;
        left: 0 ;
    }
    ul#nav-links a {
        touch-action: manipulation;
        user-select: none;
        background-image: none;
        cursor: pointer;
        padding: 0.5em 0.5em;
        display: block;
        transition: color 0.3s ease-in, background 0.3s ease-in !important;

        &:focus,
        &:hover {
            background: rgba(255,255,255,1) !important;
            color: #666 !important;
            text-decoration: underline;
            text-shadow: none !important;
        }
        &:active {
            outline: 0;
            box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.13);
        }
        &:before {
            content: none !important;
        }
        &::-webkit-details-marker {
            display: none;
        }

    }

}

@media only screen and (max-width: $transition-medium) {
    #main {
        height: 100vh !important;
    }
    body > a#home{
        padding-left: 1.5rem;
    }
    nav {
        @include menu-container-desktop;
    }
}
@media only screen and (max-width: $transition-small) {
    nav {
        @include menu-container-mobile;
    }
}



@media only screen and (max-width: $transition-small) {

    $scale: 0.75;
    $scaledNavHeight: $navHeight * $scale;

    body > a#home i,
    nav.mdi:after {
        font-size: 3rem;
    }
    body > a#home,
    nav.mdi:after {

        padding-left: math.div($scaledNavHeight - 2.5rem, 2);
        padding-right: math.div($scaledNavHeight - 2.5rem, 2);
    }
    body > a#home {
        height: $scaledNavHeight;

        padding-bottom: 1.25rem;
        padding-top: math.div($scaledNavHeight - 3rem, 2);

        &:before {
            height: $scaledNavHeight;
        }
        h1 {
            display: none;
        }
    }
    .container {
        @include naved-container(0.75);
    }
}
