@use 'sass:math';
@import './ul-addon';

$nav-height: 5.5rem;

@mixin naved-container($scale) {

    $scaled-nav-height: $nav-height * $scale;

    padding-top: $scaled-nav-height !important;
    margin-top: -$scaled-nav-height !important;

    &::before,
    &::after {
        top: $scaled-nav-height !important;
    }
}

// Overrides for nav to work
#main {
    height: calc(100vh - $nav-height) !important;
}

.container {
    @include naved-container(1);
}

a#home {
    @include text-link-header();
}

// ------------------------------------------
// Navigation
// ------------------------------------------
body {
    position: relative;
}

body>a#home {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    padding-top: math.div($nav-height - 4rem, 2);
    padding-left: math.div($nav-height - 4rem, 2);
    box-sizing: border-box;
    z-index: 11;
    pointer-events: all;
    @include theme-transition(color);

    h1 {
        display: inline-block;
    }

    *,
    &::after {
        pointer-events: none;
    }

    &::after {
        content: '';
        display: block;
        position: fixed;
        z-index: -1;
        top: 0;
        width: 100vw;
        left: -100vw;
        right: -100vw;
        margin: auto;
        height: $nav-height;
        @include frosted;
        box-shadow: 0px 0px 30px base-color(0);
        box-sizing: border-box;
        @include theme-transition(background, box-shadow, opacity);
    }
}

body>a#home,
nav a {
    &:focus,
    &:hover {
        color: base-color(f) !important;
    }
}


@mixin ghost-home() {
    color: base-color(4);
    &::after {
        opacity: 0;
    }
}

@mixin solid-home() {
    color: base-color(c);
    &::after {
        opacity: 1;
    }
}

body:not(.js-enabled){
    >a#home {
        @include solid-home();
    }
}

body.js-enabled {
    >a#home {
        @include ghost-home();
    }
    &.nav-complete>a#home {
        @include solid-home();
    }
}

@include media-mobile() {
    body.js-enabled {
        nav.open,
        nav:focus-within {
            +a#home {
                @include solid-home();
            }
        }
    }
}

nav {
    max-width: 1400px;
    margin: auto;
    position: sticky;
    overflow: visible;
    right: 0;
    top: 0;
    padding: 1.3rem 1.25rem;
    z-index: 12;
    text-align: left;
    font-weight: 800;
    display: table;
    margin-right: 0;
    pointer-events: all;

    &::before,
    &.mdi::after {
        display: none;
    }

    > div {
        display: flex;
        flex-direction: row-reverse;
        position: relative;
        overflow: visible;
    }
}

@mixin menu-container-mobile-small {
    top: $nav-height * 0.75;
    height: 0rem;
    max-height: calc(100vh - $nav-height * 0.75);

    &.open,
    &:focus-within {
        height: 40rem;
    }

    > div {
        padding: 5rem 2.5rem;
    }
}

@mixin menu-container-mobile {
    @include theme-transition(border-color, height);
    overflow: hidden;
    height: 0rem;
    padding: 0;

    > div {
        padding: 5rem 3.5rem;
    }

    &.open,
    &:focus-within {
        height: 25rem;
    }

    display: block;
    position: fixed;
    top: $nav-height;
    right: 0;
    left: 0;
    bottom: unset;
    text-align: right;

    &.mdi::after {
        width: 7rem;
        text-align: center;
        padding: 0.75rem 1.5rem 0rem;
        color: base-color(f);
        display: block;
        position: fixed;
        box-sizing: border-box;
        top: 0;
        right: 0;
        left: unset;
        bottom: unset;
        opacity: 1 !important;
        pointer-events: auto !important;
        @include theme-transition(color, background);
    }

    &::before {
        content: '';
        opacity: 1;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0rem;
        right: 0rem;
        bottom: 0;
        width: auto !important;
        background: base-color(2, b);
        backdrop-filter: blur(25px);
        box-shadow: 0px 5px 15px #100;
        @include theme-transition(background);
    }

    pointer-events: all;

    #nav-links,
    #social-links {
        opacity: 0;
        pointer-events: none;
        transform: translateY(-175%);
        transition: border-color var(--themed-transition-speed) ease-in,
                    transform 0.4s ease-in,
                    opacity 0.4s ease-in;
    }

    &.open,
    &:focus,
    &:focus-within {
        #nav-links,
        #social-links {
            pointer-events: all;
            opacity: 1;
            transform: translateY(0%);
            transition: border-color var(--themed-transition-speed) ease-in,
                        transform 0.4s ease-out,
                        opacity 0.7s ease-out;

        }

        &.mdi::after {
            background: base-color(0);
            filter: invert(1);
        }
    }
}

#social-links {
    display: none;
    flex-grow: 1;
    flex-direction: column;
    text-align: left;
    justify-content: end;
    min-width: 11rem;
    margin-right: 2rem;

    h4 {
        font-size: 1.5rem;
        margin-bottom: 0.25rem;
    }

    ul {
        max-width: 14rem;
    }

    li {
        text-align: center;
        flex-grow: 1;
    }

    a {
        @include text-link-aberration();
        padding-left: 0;
        padding-right: 0;
        font-size: 1.5rem;
        flex-grow: 1;
        width: 100%;
    }
}

#nav-links {
    flex-grow: 1;

    @include pipe-separated-ul();

    @include media-mobile-small() {
        max-width: 16rem;
        width: 100%;
    }

    a {
        @include text-link-aberration();
        line-height: 3rem;
        padding-top: 0;
        padding-bottom: 0;
    }

    li {
        max-width: 100%;
        &:first-child { display: none; }
    }

    @include media-mobile() {
        @include ul-addon();
        min-width: 12rem;
        max-width: 16rem;
        vertical-align: bottom;
        text-align: right;
        direction: rtl;
        flex-grow: 1;

        display: inline-block;
        border-width: 1px;
        border-style: solid;
        border-color: base-color(3);
        box-sizing: border-box;
        border-top: 0px;
        border-right: 0px;
        border-bottom: 0px;

        a {
            @include boxy-link();
            font-size: 1.5rem;
            line-height: 1;
        }

        li,
        li:first-child {
            display: block;
        }

        li.active a {
            color: base-color(f);
        }

        li:not(:last-child)::after {
            content: none;
        }
    }

    @include media-mobile-small() {
        max-width: none;
        width: 100%;

        a {
            font-size: 2rem;
        }
    }
}


@include media-mobile() {
    #main {
        height: 100vh !important;
    }

    body > a#home {
        padding-left: 1.5rem;
    }

    nav {
        @include menu-container-mobile;
    }
}

@media only screen and (max-width: $transition-small) {
    nav {
        @include menu-container-mobile-small;
    }
}

body>a#home::before,
nav::after {
    font-size: 4rem;
}

@include media-mobile() {
    body > a#home,
    nav.mdi::after {
        height: $nav-height;
        text-align: center;
        padding-top: math.div($nav-height - 4rem, 2);
        padding-left: math.div($nav-height - 4rem, 2);
        padding-right: math.div($nav-height - 4rem, 2);
    }

    #social-links {
        display: flex;
    }
}

@include media-mobile-small() {

    $scale: 0.75;
    $scaled-nav-height: $nav-height * $scale;

    body > a#home::before,
    nav.mdi::after {
        font-size: 3rem;
    }

    body > a#home,
    nav.mdi::after {
        width: 5rem;
        height: $scaled-nav-height;
        padding-top: math.div($scaled-nav-height - 3rem, 2);
        padding-left: math.div($scaled-nav-height - 2.5rem, 2);
        padding-right: math.div($scaled-nav-height - 2.5rem, 2);
    }

    body > a#home {
        &::after, {
            height: $scaled-nav-height;
        }

        h1 {
            display: none;
        }
    }

    .container {
        @include naved-container(0.75);
    }

    nav > div {
        display: block;
    }

    #nav-links {
        margin-bottom: 7rem;
    }
}
