@use '../../style/mixins/' as mixins;
@use '../../style/palette' as palette;
@mixin ul-addon() {

    // Base style
    li {
        position: relative;
    }


    li::after,
    li::before {
        @include mixins.theme-transition(color, background, border-color, border-width, height, width);
        width: 0px;
        right: 0rem;
        transform: translateX(50%);
        box-sizing: border-box;
        border-color: palette.base-color(f) !important;
    }

    li::after { // dots
        top: 0;
        bottom: 0;
        margin: auto;
        border-radius: 50%;
        background: palette.base-color(2);
        width: 1.25rem;
        height: 1.25rem;
        border-style: solid;
        border-width: 3px;
        border-color: palette.base-color(a);
    }

    li::before { // line
        width: 0px;
        border-style: solid;
        border-width: 2px;
        border-color: palette.base-color(a);
        top: 2rem;
        bottom: -1.5rem;
    }

    li::after,
    li:not(:last-child)::before {
        content: '' !important;
        display: block;
        position: absolute;
    }

    li:not(:first-child)::before {
        content: none;
    }

    // Hover style
    li:hover {
        &::after,
        &::before {
            border-color: palette.base-color(f) !important;
        }

        &::after {
            width: 2rem;
            height: 2rem;
            background: palette.base-color(f);
            border-color: palette.base-color(0, 0, 0);
        }
    }

    li ~ li:hover::after {
        border-color: palette.base-color(f) !important;
    }

    // Active style
    li.active {
        color: palette.base-color(f);

        &::after,
        &::before {
            background: palette.base-color(f) !important;
            border-color: palette.base-color(f) !important;
        }

        &::after { // dot
            border-color: palette.base-color(a);
            background: palette.base-color(a);
        }

        &:not(:last-child)::before,
        ~ li:not(:last-child)::before,
        ~ li::after {
            border-color: palette.base-color(8) !important;
        }

        &:not(:last-child)::before,
        ~ li:not(:last-child)::before {
            border-width: 1px;
        }
    }

    li.active ~ li::after {
        border-width: 2px;
    }


    @include mixins.media-mobile() {
        padding-right: 3.5rem;

        li::after,
        li::before {
            right: -3.5rem;
        }
    }

    @include mixins.media-mobile-small() {
        padding-right: 2.5rem;

        li::after,
        li::before {
            right: -2.5rem;
        }
    }
}
