#foss {
    display: block;
    color: base-color(0);
    background: base-color(f);
    text-align: center;
    min-height: 5.5rem;
    display: flex;
    justify-content: center;

    div.foss-container {
        display: block;
        text-align: left;
        padding: 2.5rem 4rem 2rem;
        box-sizing: border-box;

        width: 100%;
        max-width: 1200px;

        @include media-desktop() {
            max-width: 800px;
        }

        p {
            margin-top: 0.5rem;
            font-size: 1rem;
            line-height: 1.25rem;
        }


    }
    .foss-text {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 0 30px;
        p {
            flex-grow: 1;
        }
        a {
            flex-grow: 0;
            flex-shrink: 0;
        }
    }
    .source-link {
        vertical-align: top;
        margin-top: 0.5rem;
        margin-bottom: 1rem;
    }
}

@include media-mobile-small(){
    #foss .foss-text {
        flex-flow: column wrap;
        justify-content: flex-end;
        a {
            margin-left: auto;
        }
    }
}
