@use '../../style/palette' as palette;
@use '../../style/mixins' as mixins;
#foss {
    @include mixins.theme-transition(background, color);
    color: palette.base-color(0);
    background: palette.base-color(f);
    text-align: center;
    min-height: 5.5rem;
    display: flex;
    justify-content: center;

    div.foss-container {
        display: block;
        text-align: left;
        padding: 2.5rem 4rem 2rem;
        box-sizing: border-box;
        width: 100%;
        max-width: 1200px;

        @include mixins.media-desktop() {
            max-width: 800px;
        }
    }

    .foss-text {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 0 30px;

        p {
            flex-grow: 1;
            margin-top: 0.5rem;
            font-size: 1rem;
            line-height: 1.25rem;
        }

        a {
            flex-grow: 0;
            flex-shrink: 0;
        }
    }

    .source-link {
        vertical-align: middle;
        margin-top: 0.5rem;
        margin-bottom: 1rem;
        line-height: 2;
        padding-top: 0rem;
        padding-bottom: 0rem;
        &:before {
            vertical-align: middle;
        };
    }
}

@include mixins.media-mobile-small() {
    #foss .foss-text {
        flex-flow: column wrap;
        justify-content: flex-end;

        a {
            margin-left: auto;
        }
    }
}
