#about {
    #about-titles {
        transition: opacity 1s ease;

        height: 7vw;
        overflow: visible;
        margin-top: -7vw;
        z-index: 30;

        .titles-left, .titles-right {
            display: inline-block;
        }
        .titles-left {
            text-align: left;
            float: left;
        }
        .titles-right {
            text-align: right;
            float: right;
        }
        h3 {
            margin-bottom: 0;
        }
        span {
            color: #aaa;
        }
    }

    .img-container {
        display: block;
        text-align: center;
    }

    .img-box {
        display: inline-block;
        padding-bottom: 40%;
        width: 40%;
        position: relative;
        mix-blend-mode: lighten;
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    .img-box.jac { margin-right: -7%; }
    .img-box.max { margin-left: -7%; }
}

_::-webkit-full-page-media, _:future, :root .safari_only {
    .img-box {
        mix-blend-mode: normal !important;
    }
}

@media only screen and (max-width: 480px) {
    #about #about-titles {
        h3, span {
            font-size: 1em;
        }
    }

    #about {
        padding-bottom: 4.5rem;
    }
}
