@use 'sass:color';

@import './constants';
@import './mixins';

@import './theming';
@import './animations';

@import '../sections/nav/nav';
@import '../sections/main/main';
@import '../sections/trajectory/trajectory';
@import '../sections/skills/skills';
@import '../sections/where/where';
@import '../sections/foss/foss';

@import './print';


body {
    background: base-color(0);
    margin: 0;
    overflow-x: hidden;

    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 4rem;
        line-height: 1;
        margin: 0 0 2.5rem;
    }
    h3 {
        font-size: 2rem;
        line-height: 1;
        margin: 0 0 1rem;
    }
    p {
        margin: 1rem 0;
        font-size: 1.25rem;
        line-height: 1.75rem;
    }
    b {
        font-weight: 800;
    }
    form {
        margin: 1rem 0rem 3rem;
        padding: 3rem 3rem;

        >button, >input, >textarea {
            display: block;
            margin-bottom: 1.5rem;
        }
    }
    img {
        &[role=presentation]{
            user-select: none;
        }
    }
}

// ------------------------------------------
// Global Style
// ------------------------------------------
.container {
    overflow: hidden;
}

.floater-container {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    min-height: calc(100vh - 5.5rem);
}

.floating-container {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-grow: 0;
    align-items: center;

    width: 100%;
    max-width: 1600px;
    padding: 8rem 4rem;

    @media only screen and (max-width: $transition-medium) {
        max-width: 1300px;
        padding: 8rem 3rem;
    }
    @media only screen and (max-width: $transition-small) {
        padding: 8rem 2rem;
    }
}

body .aside-blurb {
    position: relative;
    display: block;
    width: 20%;
    flex-grow: 1;
    margin: 0 3vw;

    img {
        height: 4rem;
        width: auto;
    }
    .floating-aside-blurb {
        position: absolute;
        height: 100%;
        width: 100%;
        top: calc(var(--bg-offset-y) / 4);
        left: calc(var(--bg-offset-x) / 3);
    }
}
body .main-blurb {
    width: 60%;
    h2 { margin-top: 0; }
}
body .full-blurb {
    display: block;
    width: 100%;
}


@media only screen and (max-width: $transition-medium) {
    body .main-blurb {
        width: 100%;
    }
    body .aside-blurb {
        display: none !important;
    }
}

.float-columns {
    margin-top: 4.5rem;
    margin-bottom: 1rem;
}
.float-column {
    display: inline-block;
    margin-right: 4rem;
    vertical-align: top;
    margin-left: 0;
    margin-bottom: 2rem;

    ul {
        list-style: none;
        padding: 0;
        padding-left: 1rem;
    }

    >*:not(a) {
        display: block;
    }
    a {
        margin-top: 0.25rem;
        padding: 0.1rem 0.2rem;
        vertical-align: middle;
        i:first-child {
            vertical-align: middle;
            margin-right: 0.25rem;
        }
    }
    h3 {
        margin-bottom: 1rem;
    }
}


// ------------------------------------------
// Container backgrounds
// ------------------------------------------

@mixin backgrounds($invert){
    #trajectory.container:after {
        background: base-color(1,b);
        background-attachment: fixed;
        //background: radial-gradient(circle at 60% 100%,
        //                            invertLum(hsla(0, 33.33%, 10%, 0.73), $invert) 0%,
        //                            invertLum(hsla(120, 20.93%, 8.43%, 0.53), $invert) 100%);
        background: radial-gradient(circle at 60% 100%,
                                    invertLum(hsla(0, 33.33%, 10%, 0.73), $invert) 0%,
                                    invertLum(hsla(120, 20.93%, 8.43%, 0.53), $invert) 100%);
        mask-image: linear-gradient(155deg,
                                    invertLum(hsla(0, 0.0%, 0.0%, 0), $invert) 10%,
                                    invertLum(hsla(0, 0.0%, 0.0%, 1), $invert) 40%);
    }
    #skills.container:after {
        background: base-color(4,c);
        background-attachment: fixed;
        //background: radial-gradient(circle at 60% 100%,
        //                            invertLum(hsla(0, 11.11%, 30%, 0.53), $invert) 0%,
        //                            invertLum(hsla(120, 10.53%, 14.9%, 0.67), $invert) 100%);
        background: radial-gradient(circle at 60% 100%,
                                    invertLum(hsla(0, 11.11%, 30%, 0.73), $invert) 0%,
                                    invertLum(hsla(120, 10.53%, 14.9%, 0.87), $invert) 100%);
        mask-image: radial-gradient(circle at bottom left,
                                    invertLum(hsla(0, 0.0%, 0.0%, 1), $invert),
                                    invertLum(hsla(0, 0.0%, 0.0%, 0.95), $invert) 40%,
                                    invertLum(hsla(0, 0.0%, 0.0%, 0.65), $invert) 100%);
    }
    #where.container:after {
        background: base-color(9,b);
        background-attachment: fixed;
        background: radial-gradient(circle at 60% 100%,
                                    invertLum(hsla(0, 9.09%, 33.33%, 0.73), $invert) 0%,
                                    invertLum(hsla(120, 9.09%, 33.33%, 0.73), $invert) 100%);
    }

}

canvas {
    filter: opacity(0.75);
}

:root {
    @include backgrounds(-1);
}

:root.light-theme {
    @include backgrounds(+1);

    body:not(.gl-enabled):after {
        filter: invert(1);
    }
}

// ------------------------------------------
// Main background
// ------------------------------------------

body > * {
    animation-delay: 1s;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

$bgImage: url('../images/background.webp');
$bgNoise: url('../images/noise.webp');
$bgGlow: radial-gradient(circle at 10% 30%, rgba(64,16,16,0.55) 0%, rgba(0,0,0) 50%, rgba(0,0,0) 60%, rgba(16,28,16,1.0) 90%);

canvas,
body:before, body:after {
    display: block;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

canvas {
    z-index: -11;
}
body:not(.gl-enabled):after {
    content: '';
    z-index: -11;
    background-image: $bgImage;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    animation-name: delayBackground;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1s;
}
body:before {
    content: '';
    z-index: -10;

    background-image: $bgGlow;
    animation-name: none;
    mix-blend-mode: screen;

    mask-image: $bgNoise;
    -webkit-mask-image: $bgNoise;
    mask-repeat: repeat;
    -webkit-mask-repeat: repeat;
    mask-position: 0% 0%;
    -webkit-mask-position: 0% 0%;
}

@keyframes delayBackground {
    0%   { background-image: $bgGlow; }
    50%  { background-image: $bgGlow; }
    100% { background-image: $bgGlow, $bgImage; }
}

// ------------------------------------------
// Theme Selection
// ------------------------------------------

#color-theme {
    display: block;
    position: fixed;
    height: $navHeight;
    width: 3rem;
    bottom: 0;
    left: 0;
    padding: 0 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        font-size: 2rem;
        @include text-link-aberration;
        color: base-color(f);
        position: relative;

        &:after {
            content: '';
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            display: block;
            height: 100%;
            width: 100%;
            background: radial-gradient(
                base-color(0,5) 30%,
                base-color(0,2) 50%,
                base-color(0,0) 70%
            );
        }
    }
    text-shadow: 1px 1px 2px base-color(0);
}

@include media-mobile {
    #color-theme {
        height: 4rem;
        padding: 0.1rem;
    }
}

@import './palette';
