@import './theming';
@import './animations';
@import './constants';

body {
    background: black;
    margin: 0;
    overflow-x: hidden;

    h1, h2, h3 {
        display: block;
        font-weight: bold;
    }
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 4rem;
        margin: 0.8em 0;
    }
    h3 {
        font-size: 2rem;
    }
    p {
        margin: 1rem 0;
        font-size: 1.25rem;
        line-height: 1.75rem;
    }
    form {
        margin: 1rem 0rem 3rem;
        padding: 3rem 3rem;

        >button, >input, >textarea {
            display: block;
            margin-bottom: 1.5rem;
        }
    }
    img {
        &[role=presentation]{
            user-select: none;
        }
    }
}

// ------------------------------------------
// Global Style
// ------------------------------------------
.container {
    overflow: hidden;
}
.floater-container {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    min-height: 100vh;
    margin-top: -2rem;
    margin-bottom: -3rem;
}
.floating-container {
    max-width: 1400px;
    flex-grow: 0;
    position: relative;
    box-sizing: border-box;
    padding-top: 8rem;
    padding-bottom: 8rem;
}
body .container-blurb {
    width: 60%;
    float: right;
    h2 { margin-top: 0; }
}

@media only screen and (max-width: $transition-small) {
    body .container-blurb {
        width: 100%;
    }
}
@media only screen and (max-width: $transition-medium) {
    body .aside-blurb {
        display: none !important;
    }
}




// ------------------------------------------
// Container backgrounds
// ------------------------------------------

#trajectory.container:after {
    background: #111b;
    background-attachment: fixed;
    background: radial-gradient(circle at 60% 100%, #211b 0%, #111a11bb 100%);
    mask-image: linear-gradient(155deg, transparent 10%, black 40%);
}
#skills.container:after {
    background: #444c;
    background-attachment: fixed;
    background: radial-gradient(circle at 60% 100%, #5448 0%, #444a4488 100%);
    //mask-image: linear-gradient(230deg, transparent 0%,  rgba(0,0,0, 0.75) 40%, black 60%);
    mask-image: radial-gradient(circle at bottom left, black 0%, rgba(0,0,0, 0.75) 40%, transparent 100%);
}
#where.container:after {
    background: #999b;
    background-attachment: fixed;
    background: radial-gradient(circle at 60% 100%, #a99b 0%, #9a9b 100%);
}
