@import './palette';

#locale-switch {
    position: fixed;
    bottom: 1.5rem;
    left: 3.25rem;
    font-weight: 800;
    padding: 0.75rem;

    @include pipe-separated-ul();

    a {
        @include text-link-aberration;
        color: base-color(f);
        background: transparent;
        text-shadow: 1px 1px 2px base-color(0);
        @include theme-transition(color, text-shadow);
        font-size: 1rem;
        line-height: 1.5rem;

        &:not(:first-child) {
            padding-left: 0.5rem;
        }
        &:not(:last-child) {
            padding-right: 0.5rem;
        }
    }
}
