@import './palette';

#locale-switch {
    position: fixed;
    bottom: 1.5rem;

    left: 3.5rem;
    font-weight: 800;

    @include pipe-separated-ul();

    a, button {
        @include addon-button();
        cursor: pointer;

        font-size: 1rem;
        line-height: 1.35rem;
    }
}
