@use './palette';
@use './mixins' as mixins;

#locale-switch {
    left: 3.5rem;
    font-weight: 800;

    @include mixins.pipe-separated-ul();

    a, button {
        @include mixins.addon-button();
        cursor: pointer;

        font-size: 1rem;
        line-height: 1.35rem;
    }
}
