@import './theming-common';
@import './constants';

@mixin content-container {
    box-sizing: border-box;
    padding: 1.25rem 1rem 3rem;
    min-height: 100vh;
    margin: auto;
    position: relative;
    padding-left: 3rem;
    padding-right: 3rem;

    &:after {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        width: 100vw;
        left: -100vw;
        right: -100vw;
        bottom: 0;
        margin: auto;
    }
    @media only screen and (max-width: $transition-small) {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

@mixin sub-content-container {
    $shadowcolor: #200a04;
    position: relative;
    overflow: hidden;
    background: radial-gradient(circle at 60% 100%,#303331 0%, #1a1010 100%);
    border-radius: 12px;
    box-shadow: inset -1px -1px -0px #422;

    &:before, &:after {
        content: "";
        position: absolute;
        opacity: 0.7;
    }
    &:before {
        height: 3rem;
        width: 100%;
        left: 0;
        top: 100%;
        transform: rotate(-2deg);
        transform-origin: bottom right;
        box-shadow: 0 -2rem 20px $shadowcolor;
    }
    &:after {
	height: 100%;
        width: 3rem;
	top: 0;
        left: 100%;
        transform: rotate(6deg);
        transform-origin: bottom right;
        box-shadow: -2rem 0 20px $shadowcolor;
    }
}


// form style
@mixin form-neutral() {
}
@mixin form-item-spacing(){
    margin-bottom: 1.5rem;
}

@import './framework';
