@import './scaffold/reset';
@import './scaffold/defaults';
@import './constants';

@mixin base-text(){
    color: #eee;

    font-family: Tahoma, sans-serif;
    font-size: 18px;

    @media only screen and (max-width: $transition-large) {
        font-size: 15px;
    }

    @media only screen and (max-width: $transition-medium) {
        font-size: 12px;
    }
}
@mixin base-text-selected() {
    background: var(--select-background);
    color: var(--highlight-color);
}

@mixin border-interactive() {
    border: 1px solid white;
    border-radius: 4px;
}

// Button Style
@mixin clickable-button-neutral() {
    @include border-interactive();
    padding: 0.5rem 0.5rem;
    background: transparent;
    background-color: transparent;
    transition: background 0.3s ease-in;
}
@mixin clickable-button-hover() {
    background: rgba(1,1,1,0.5);
}


// Links Style
@mixin clickable-text-neutral() {
    color: #eee;
    display: inline-block;
    transition: none;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@mixin clickable-text-hover() {
    animation-name: abberation-link;
    background: white;
    color: black;
}
@mixin clickable-text-focus() {
    @include clickable-text-hover();
}

// inputs style
@mixin input-textarea-common() {
    color: white;
    display: block;
    width: 100%;
    background: transparent;
    line-height: 1.25rem;
    font-size: 1rem;

    padding-left: 0.5rem;
    padding-right: 0.5rem;

    background: transparent;
    background-color: transparent;
    box-sizing: border-box;
    box-shadow: 0 0 0 1000px base-color(0%) inset;
    transition: background-color 99999s ease-in-out;

    &[autocomplete=off]{
        box-shadow: 0 0 0 0 base-color(0%) inset;
    }
    &:focus {
        outline: none;
    }
    ::placeholder {
        color: base-color(60%);
    }
}

@mixin input-neutral() {
    height: 2rem;
    border: none;
    border-bottom: 1px solid white;
}

@mixin textarea-neutral() {
    @include border-interactive();
    min-height: 6.75rem;
    padding-top: 0.5rem;
    resize: vertical;
}

@mixin content-container {
    box-sizing: border-box;
    min-height: 100vh;
    margin: auto;
    position: relative;

    &:after {
        content: '';
        position: absolute;
        z-index: -1;
        width: 100vw;
        top: 0;
        bottom: 0;
        right: -100vw;
        left: -100vw;
        margin: auto;
    }
}

@mixin sub-content-container {
    $shadowcolor: #200a04;
    position: relative;
    overflow: hidden;
    background: radial-gradient(circle at 60% 100%,#303331 0%, #1a1010 100%);
    border-radius: 12px;
    box-shadow: inset -1px -1px -0px #422;

    &:before, &:after {
        content: "";
        position: absolute;
        opacity: 0.7;
    }
    &:before {
        height: 3rem;
        width: 100%;
        left: 0;
        top: 100%;
        transform: rotate(-2deg);
        transform-origin: bottom right;
        box-shadow: 0 -2rem 20px $shadowcolor;
    }
    &:after {
	height: 100%;
        width: 3rem;
	top: 0;
        left: 100%;
        transform: rotate(6deg);
        transform-origin: bottom right;
        box-shadow: -2rem 0 20px $shadowcolor;
    }
}


// form style
@mixin form-neutral() {
}
@mixin form-item-spacing(){
    margin-bottom: 1.5rem;
}

@import './scaffold/framework';
