// Links mixins
@mixin base-text() {}
@mixin base-text-selected() {}
@mixin heading-text() {}

@mixin clickable-text-neutral() {}
@mixin clickable-text-hover() {}
@mixin clickable-text-focus() {}
@mixin clickable-text-active() {}

// Button mixins
@mixin clickable-button-neutral() {}
@mixin clickable-button-hover() {}
@mixin clickable-button-focus() {}
@mixin clickable-button-active() {}

// Common mixins
@mixin input-textarea-common() {}

// Input mixins
@mixin input-neutral() {}
@mixin input-hover() {}
@mixin input-focus() {}

// Textarea mixins
@mixin textarea-neutral() {}
@mixin textarea-hover() {}
@mixin textarea-focus() {}

// Forms
@mixin form-item-spacing() {}

// Content
@mixin content-container() {}
@mixin sub-content-container() {}
