#main {
    position: relative;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    padding: 24px;

    #main-content {
        position: relative;
        text-align: left;
        font-size: 24px;

        @media (min-width: $transition-medium) {
            font-size: 32px;
        }

        .main-title {
            font-size: 1em;
            line-height: 1em;
            margin-bottom: 0;
        }

        .main-subtitle {
            font-size: 1.75em;
            margin-top: 0;
            font-weight: 800;
        }

        .main-descriptor {
            font-size: 0.75em;
        }

        p {
            margin: 0;
            line-height: 1.25em;
        }
    }

    .scramble-stage-1,
    .scramble-stage-2,
    .scramble-stage-3 {
        @include theme-transition(transform, opacity);
        transform: scale(1);
        opacity: 0;
        animation-fill-mode: forwards;
    }

    .scramble-stage-1 {
        animation-duration: 1.5s;
    }

    .scramble-stage-2,
    .scramble-stage-3 {
        animation-duration: 3s;
    }
}
