@import '../../style/constants';

#main {
    position: relative;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    height: 100vh;

    color: white;

    overflow: hidden;
    padding: 24px;

    .reserved-space {
        opacity: 1;

        &:not(.stand-in){
            z-index: 2;
        }

        &.stand-in {
            opacity: 1;
            position: absolute;
            top: 0;
            left: 0;
            width: 115%;
            pointer-events: none;
            user-select: none;
        }
    }

    #main-content {
        font-size: 24px;

        @media (min-width: $transition-medium) {
            font-size: 32px;
        }
        position: relative;
        text-align: left;
        .main-title {
            font-size: 2em;
            line-height: 1em;
            margin-bottom: 0;
        }
        .main-subtitle {
            font-size: 1em;
            margin-top: 0;
        }
        .main-blurb {
            font-size: 0.75em;
        }
        p {
            margin: 0;
            line-height: 1.25em;
            margin-bottom: 0.75em;
        }

    }

    .scramble-stage-1,
    .scramble-stage-2,
    .scramble-stage-3 {
        transition: transform 0.5s ease, opacity 0.5s ease;
        transform: scale(1);
        opacity: 1;
        animation-fill-mode: forwards;
    }
    .scramble-stage-1 {
        animation-duration: 1.5s;
    }
    .scramble-stage-2,
    .scramble-stage-3 {
        animation-duration: 3s;
    }
}
