#contact {
    h2 {
        margin-bottom: 3rem;
    }
    h3 {
        margin: 0 0 0.75rem;
    }
    .column {
        display: inline-block;
        margin-right: 2rem;
        vertical-align: top;
        margin-left: 1rem;
        margin-bottom: 2rem;
        >* {
            display: block;
        }
        a {
            margin-top: 0.25rem;
        }
    }

    .obfuscated-e:after,
    .obfuscated-p:after {
        content: ' ';
        min-height: 1em;
        display: block;
    }
    .obfuscated-e[pt1]:after {
        content: attr(pt1) "@" attr(pt2) "." attr(pt3);
    }
    .obfuscated-p[pt1]:after {
        content: attr(pt1) " " attr(pt2) " " attr(pt3) "-" attr(pt4);
    }
}
