#main {
    position: relative;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    height: 100vh;

    color: white;

    overflow: hidden;
    padding: 24px;

    .reserved-space {
        opacity: 1;
        position: relative;

        &.stand-in {
            opacity: 1;
            position: absolute;
            top: 0;
            left: 0;
            width: 120%;
        }
    }

    #main-content {
        font-size: 24px;

        @media (min-width: 768px) {
            font-size: 32px;
        }
        position: relative;
        text-align: left;
        .main-title {
            font-size: 2em;
            margin-bottom: 0;
        }
        .main-subtitle {
            font-size: 1em;
            margin-top: 0;
        }
        .main-blurb {
            font-size: 0.75em;
        }
    }

    .scramble-stage-1,
    .scramble-stage-2,
    .scramble-stage-3 {
        opacity: 1;
        transition: opacity 0.5s ease, transform 0.5s ease;
        transform: scale(1.4);
    }
}
