@use "sass:math";
$navHeight: 5.5rem;

// Overrides for nav to work
#main {
    height: calc(100vh - $navHeight) !important;
}
.container {
    padding-top: $navHeight + 2rem !important;
    margin-top: -$navHeight !important;
    &:after {
        top: $navHeight !important;
    }
}

// ------------------------------------------
// Navigation
// ------------------------------------------
body {
    position: relative;
}
body>a#home {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    height: $navHeight;
    padding: 0;
    padding-top: math.div($navHeight - 4rem, 2);
    padding-left: math.div($navHeight - 4rem, 2);
    box-sizing: border-box;
    z-index: 11;
    pointer-events: none;

    * {
        pointer-events: all;
    }
    h1 {
        margin: 0;
    }
    h1, svg {
        vertical-align: middle;
        display: inline-block;
    }
    svg {
        height: 4rem;
        width: 4rem;
        display: inline-block;
    }
    &:focus,
    &:hover {
        box-shadow: none !important;
        background: none !important;
        animation-name: none !important;
        h1 {
            text-shadow: 0px 0px 5px #555 !important;
        }
        svg {
            filter: drop-shadow(0px 0px 5px #555);
        }
    }
}

a#home, nav a {
    text-decoration : none !important;
    &:focus,
    &:hover {
        color: #fff !important;
        svg path {
            fill: #fff !important;
        }
    }
}

nav {
    max-width: 1400px;
    margin: auto;
}

body.js-enabled {

    >a#home {
        color: #444;
        transition: color 0.3s;
        svg path {
            transition: fill 0.3s;
            fill: #444;
        }
    }
    >a#home:before {
        opacity: 0;
        transition: opacity 0.3s;
    }
    nav.open,
    nav:focus-within {
        &+a#home {
            color: #ccc;
            svg path {
                fill: #ccc;
            }
            &:before {
                opacity: 1;
            }
        }
    }
    &.nav-complete {
        a#home {
            color: #ccc;
            svg path {
                fill: #ccc;
            }
            &:before {
                opacity: 1;
            }
        }
    }
}
@mixin frosted {
    background: #222b;
    backdrop-filter: blur(25px);
}

body>a#home:before {
    content: '';
    display: block;
    position: fixed;
    z-index: -1;
    top: 0;
    width: 100vw;
    left: -100vw;
    right: -100vw;
    margin: auto;
    height: $navHeight;
    @include frosted;
    box-shadow: 0px 0px 30px black;
    box-sizing: border-box;
}

nav {
    position: sticky;
    overflow: visible;
    right: 0;
    top: 0;

    padding: 1.35rem 1.25rem;
    z-index: 12;

    text-align: right;
    font-weight: 800;
    display: table;
    margin-right: 0;
    pointer-events: all;

    >div {
        position: relative;
        overflow: hidden;
    }
    ul {
        margin-block-start: unset;
        margin-block-end: unset;
        margin-inline-start: unset;
        margin-inline-end: unset;
        padding-inline-start: unset;
        list-style-type: none;
    }
    li {
        font-size: 0;
        display: inline-block;
        &:not(:first-child):before {
            display: inline-block;
            content: '|';
            font-size: 1.25rem;
        }
        &:before {
            color: #aaa !important;
            text-shadow: none !important;
        }
    }

    a {
        font-size: 1.25rem;
        color: #aaa !important;
        box-shadow: none !important;
        padding: 0.75rem 0.75rem;

        transition: color 0.2s ease-in;

        &:focus,
        &:hover {
            background: rgba(255,255,255,0);
            animation-name: abberation-nav !important;
        }
    }
}
@mixin menu-container-small {
    top: $navHeight * 0.75;
    max-height: calc(90vh - 4.125rem);
    text-align: left;
    height: 0rem;
    &.open,
    &:focus-within {
        height: 35rem;
    }
    ul {
        min-width: 80%;
    }
    &:after {
        height: $navHeight *0.75;
        padding: 1rem 1.5rem 0;
    }
}

@mixin menu-container {
    text-align: center;

    transition: height 0.3s ease;
    overflow: hidden;

    height: 0rem;
    &.open,
    &:focus-within {
        height: 25rem;
    }

    display: block;
    position: fixed;
    top: $navHeight;
    right: 0;
    left: 0;
    bottom: unset;
    padding: 0 10% 0;
    text-align: right;

    &:after {
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 100 80' width='40' height='40'%3E%3Crect id='pwease' width='100' height='10'%3E%3C/rect%3E%3Crect y='30' width='100' height='10'%3E%3C/rect%3E%3Crect y='60' width='100' height='10'%3E%3C/rect%3E%3C/svg%3E");
        height: $navHeight;
        padding: 1.75rem 2rem 0rem;
        font-size: 0rem;
        color: white;
        display: block;
        position: fixed;
        box-sizing: border-box;
        top: 0;
        right: 0;
        left: unset;
        bottom: unset;
        opacity: 1 !important;
        pointer-events: auto !important;
    }

    &:before {
        content: '';
        opacity: 1;
        position: absolute;
        z-index: 30;
        //top: 5.5rem;
        top: 0;
        left: 0rem;
        right: 0rem;
        bottom: 0;
        background: linear-gradient(180deg, #111 0px, #181818 5px, #222b 20px, #222b 100%);
        backdrop-filter: blur(25px);
        box-shadow: 0px 5px 15px #110000;

        z-index: -1;
    }
    pointer-events: all;
    &.open,
    &:focus,
    &:focus-within {
        &:after {
            background: black;
            filter: invert(1);
        }
        ul {
            opacity: 1;
            transform: translateY(0%);
            transition: transform 0.4s ease-out, opacity 0.7s ease-out;
        }
    }
    div {
        height: 16.5rem;
        width: 100%;
    }
    ul {
        position: absolute;
        bottom: 0;
        right: 0;
        min-width: 33%;
        display: inline-block;
        text-align: left;
        border: 1px solid #333;
        border-top: 0px;
        border-right: 0px;
        border-bottom: 0px;
        margin: 5.5rem 0 3rem;
        opacity: 0;
        transform: translateY(-175%);
        transition: transform 0.2s ease-in, opacity 0.3s ease-in;

    }
    li {
        min-width: 12rem;
        display: block;
        &:not(:first-child):before {
            content: none;
        }
    }
    a {
        touch-action: manipulation;
        user-select: none;
        background-image: none;
        cursor: pointer;
        padding: 0.5em 1.75em;
        display: block;
        transition: color 0.3s ease-in, background 0.3s ease-in !important;

        &:focus,
        &:hover {
            background: rgba(255,255,255,1) !important;
            color: #666 !important;
            text-decoration: underline;
            text-shadow: none !important;
        }
        &:active {
            outline: 0;
            box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.13);
        }
        &:before {
            content: none !important;
        }
        &::-webkit-details-marker {
            display: none;
        }

    }

}

@media only screen and (max-width: 700px) {
    #main {
        height: 100vh !important;
    }
    nav {
        @include menu-container;
    }
}
@media only screen and (max-width: 400px) {
    nav {
        @include menu-container-small;
    }
}



@media only screen and (max-width: 400px) {
    body > a#home {
        padding: 1.25rem;
        height: $navHeight * 0.75;
        padding-top: math.div($navHeight * 0.75 - 3rem, 2);
        padding-left: math.div($navHeight * 0.75 - 2.5rem, 2);

        &:before {
            height: $navHeight * 0.75;
        }
        svg {
            top: 0.75rem;
            left: 0.5rem;
            height: 3rem;
            width: 3rem;
        }
        h1 {
            display: none;
        }
    }

    .container {
        padding-top: $navHeight * 0.75 + 2rem !important;
        margin-top: -$navHeight * 0.75 !important;
        &:after {
            top: $navHeight * 0.75 !important;
        }
    }
}
