$navHeight: 5.5rem;

// Overrides for nav to work
#main {
    height: calc(100vh - $navHeight) !important;
}
.container {
    padding-top: $navHeight + 2rem !important;
    margin-top: -$navHeight !important;
    &:after {
        top: $navHeight !important;
    }
}

// ------------------------------------------
// Navigation
// ------------------------------------------
body>a#home {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 1.65rem 2rem;
    padding-left: 4.65rem;
    z-index: 11;
    pointer-events: none;

    * {
        pointer-events: all;
    }
    h1 {
        margin: 0;
    }
    svg {
        position: absolute;
        top: 0.75rem;
        left: 0.5rem;
        height: 4rem;
        width: 4rem;
        display: inline-block;
    }
    &:hover {
        box-shadow: none !important;
        background: none !important;
        h1 {
            text-shadow: 0px 0px 5px #555 !important;
        }
        svg {
            filter: drop-shadow(0px 0px 5px #555);
        }
    }
}

a#home, nav a {
    text-decoration : none !important;
    &:hover {
        color: #fff !important;
        svg path {
            fill: #fff !important;
        }
    }
}

nav {
    max-width: 1400px;
    margin: auto;
}

body.js-enabled {

    >a#home {
        color: #444;
        transition: color 0.3s;
        svg path {
            transition: fill 0.3s;
            fill: #444;
        }
    }
    >a#home:before {
        opacity: 0;
        transition: opacity 0.3s;
    }
    &.nav-complete {
        a#home {
            color: #ccc;
            svg path {
                fill: #ccc;
            }
        }
        a#home:before {
            opacity: 1;
        }
    }
}
@mixin frosted {
    background: #222b;
    backdrop-filter: blur(5px);
}

body>a#home:before {
    content: '';
    display: block;
    position: fixed;
    z-index: -1;
    top: 0;
    width: 100vw;
    left: -100vw;
    right: -100vw;
    margin: auto;
    height: $navHeight;
    @include frosted;
    box-shadow: 0px 0px 30px black;
    box-sizing: border-box;
}

nav {
    position: sticky;
    overflow: visible;
    right: 0;
    top: 0;

    padding: 2rem;
    z-index: 11;

    text-align: right;
    font-size: 1.25rem;
    font-weight: 800;
    display: table;
    margin-right: 0;
    pointer-events: all;

    a {
        color: #aaa !important;
        box-shadow: none !important;

        transition: color 0.2s ease-in !important;

        &:hover {
            animation-name: abberation-nav !important;
        }

        &:not(:first-child):before {
            display: inline-block;
            content: '|';
            margin: 0 0.7rem;
        }
        &:before {
            color: #aaa !important;
            text-shadow: none !important;
        }
    }
}

@mixin menu-container {
    text-align: center;

    >a {
        touch-action: manipulation;
        user-select: none;
        background-image: none;
        cursor: pointer;
        &::-webkit-details-marker {
            display: none;
        }
        &:active {
            outline: 0;
            box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.13);
        }
    }

    transition: right 0.3s ease;
    &:not([open]) {
        right: -100%;
    }
    &[open],
    &:hover {
        right: 0;
    }
}
@media only screen and (min-width: 700px) {
    nav a:hover {
        background: none !important;
        color: white !important;
        text-decoration: underline;
    }
}

@media only screen and (max-width: 700px) {
    #main {
        height: 100vh !important;
    }
    nav {
        position: fixed;
        top: 0;
        right: 0;
        left: unset;
        bottom: unset;
        width: initial !important;
        padding: $navHeight + 0.5rem 0.5rem 0 0;

        @include menu-container;

        &:before { opacity: 1; }

        &:after {
            content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 100 80' width='40' height='40'%3E%3Crect id='pwease' width='100' height='10'%3E%3C/rect%3E%3Crect y='30' width='100' height='10'%3E%3C/rect%3E%3Crect y='60' width='100' height='10'%3E%3C/rect%3E%3C/svg%3E");
            padding-top: 1.75rem;

            color: white;
            display: block;
            position: fixed;
            padding-right: 2rem;
            padding-left: 2rem;
            height: $navHeight;
            box-sizing: border-box;
            top: 0;
            right: 0;
            left: unset;
            bottom: unset;
            opacity: 1 !important;

        }

        &[open],
        &:hover {
            &:after {
                background: black;
                filter: invert(1);
            }
        }

        a {
            padding: 1em 2em;
            margin: 0 !important;

            display: block !important;
            background: #222e !important;
            &:hover {
                background: #222e !important;
            }
            &:before {
                content: none !important;
            }
            border-width: 1px;
            border-color: #333;
            border-style: solid;

            border-top-width: 0px;
            border-bottom-width: 0px;
            &:first-child {
                border-top-width: 1px;
                border-top-left-radius: 0.25rem;
                border-top-right-radius: 0.25rem;
            }
            &:last-child {
                border-bottom-width: 1px;
                border-bottom-left-radius: 0.25rem;
                border-bottom-right-radius: 0.25rem;
            }
        }
    }
}

@media only screen and (max-width: 400px) {
    body > a#home {
        font-size: 1.5rem;
        padding: 1.25rem;
        height: 2rem * 0.75;
        height: $navHeight * 0.75 - 2.5rem;
        svg {
            top: 0.75rem;
            left: 0.5rem;
            height: 3rem;
            width: 3rem;
        }
        h1 {
            display: none;
        }
    }
    nav {
        padding-top: 4.75rem;
    }
    body > a#home,
    nav {
        &:before, &:after {
            font-size: 0.5rem;
            height: $navHeight * 0.75;
            padding: 1rem;
        }
    }
    .container {
        padding-top: $navHeight * 0.75 + 2rem !important;
        margin-top: -$navHeight * 0.75 !important;
        &:after {
            top: $navHeight * 0.75 !important;
        }
    }
}
